* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0E293C;
    --secondary-color: #fff;
    --primary-font: 'Roboto';
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.5rem 1rem;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5rem;
}

.logo img {
    width: 85px;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

main {
    background-image: url('assets/image/chonkybara.png'); 
    background-size: 100% auto;
    background-position: center; 
    background-repeat: no-repeat;
    width: 600px;
    height: 700px;
    flex: 1;
    padding: 2rem;
    background-color: var(--secondary-color);
}

.project {
    margin-bottom: 2rem;
}

.project img {
    width: 100%;
    max-width: 600px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: #fff;
}
